/* Global Styles */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #333;
    text-decoration: none;
  }
  
  /* Header Styles */
  
  header {
    background-color: #87CEEB;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  a:hover{
    color: black;   
    border-radius: 5px;
    background-color: orange;
}
  
  header h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  /* Main Content Styles */
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  article {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  article h3 {
    margin-top: 0;
  }
  
  article p {
    font-size: 18px;
    line-height: 1.5;
  }
  
  article a {
    display: block;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Contact Form Styles */
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  
  /* About Page Styles */
  
  section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .about p {
    max-width: 600px;
    margin-bottom: 40px;
  }
  
  .about img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  /* Blog Page Styles */
  
  article {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
  }
  
  article h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  article p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  article a {
    display: inline-block;
    background-color: #87CEEB;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
  }
  
  article a:hover {
    background-color: #555;
  }
  
  /* Footer Styles */
  
  footer {
    background-color: #87CEEB;
    color: #fff;
    text-align: center;
    padding: 20px;
  }